1. Load the dataset using pandas.

2. Calculate the following:

3. Total number of students

4. Students who studied > 2 hours

5. Students who passed

6. Students who studied > 2 hours and passed

7. Percentage of students who passed among those who studied > 2 hours

8. Use Bayes Theorem to compute:
➤ Probability that a student studied > 2h given they passed

In [ ]:
import pandas as pd

Task-1: Load the dataset using pandas.

In [2]:
data = pd.read_csv("student_performance.csv")
data

,student_id,age,gender,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,diet_quality,exercise_frequency,parental_education_level,internet_quality,mental_health_rating,extracurricular_participation,exam_score
0,S1000,23,Female,0.0,1.2,1.1,No,85.0,8.0,Fair,6,Master,Average,8,Yes,56.2
1,S1001,20,Female,6.9,2.8,2.3,No,97.3,4.6,Good,6,High School,Average,8,No,100.0
2,S1002,21,Male,1.4,3.1,1.3,No,94.8,8.0,Poor,1,High School,Poor,1,No,34.3
3,S1003,23,Female,1.0,3.9,1.0,No,71.0,9.2,Poor,4,Master,Good,1,Yes,26.8
4,S1004,19,Female,5.0,4.4,0.5,No,90.9,4.9,Fair,3,Master,Good,1,No,66.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,S1995,21,Female,2.6,0.5,1.6,No,77.0,7.5,Fair,2,High School,Good,6,Yes,76.1
996,S1996,17,Female,2.9,1.0,2.4,Yes,86.0,6.8,Poor,1,High School,Average,6,Yes,65.9
997,S1997,20,Male,3.0,2.6,1.3,No,61.9,6.5,Good,5,Bachelor,Good,9,Yes,64.4
998,S1998,24,Male,5.4,4.1,1.1,Yes,100.0,7.6,Fair,0,Bachelor,Average,1,No,69.7
999,S1999,19,Female,4.3,2.9,1.9,No,89.4,7.1,Good,2,Bachelor,Average,8,No,74.9

Task-2:Total number of students

In [6]:
Total_students = len(data)
print(f"Total number of students are {Total_students}")

Total number of students are 1000

Task-3: Students who studied > 2 hours

In [24]:
students = data[["student_id", "study_hours_per_day"]]
hard_working_students =  students[data.study_hours_per_day > 2]
hard_working_students

    student_id  study_hours_per_day
1        S1001                  6.9
4        S1004                  5.0
5        S1005                  7.2
6        S1006                  5.6
7        S1007                  4.3
..         ...                  ...
995      S1995                  2.6
996      S1996                  2.9
997      S1997                  3.0
998      S1998                  5.4
999      S1999                  4.3

[846 rows x 2 columns]

Task-4: Students who passed

In [ ]:
students = data[["student_id", "attendance_percentage", "exam_score"]]
passing_rule = (data.attendance_percentage >= 75) & (data.exam_score >= 30)
passed_students = students[passing_rule]
passed_students

    student_id  attendance_percentage  exam_score
0        S1000                   85.0        56.2
1        S1001                   97.3       100.0
2        S1002                   94.8        34.3
4        S1004                   90.9        66.4
5        S1005                   82.9       100.0
..         ...                    ...         ...
994      S1994                   75.3        41.7
995      S1995                   77.0        76.1
996      S1996                   86.0        65.9
998      S1998                  100.0        69.7
999      S1999                   89.4        74.9

[824 rows x 3 columns]

Task-5: Students who studied > 2 hours and passed

In [ ]:
students = data[["student_id", "study_hours_per_day", "exam_score"]]
passed_students = students[passing_rule]
hard_working_passed_students_rule = (passing_rule) & (data.study_hours_per_day > 2)
hard_working_passed_students = students[hard_working_passed_students_rule]
hard_working_passed_students

    student_id  study_hours_per_day  exam_score
1        S1001                  6.9       100.0
4        S1004                  5.0        66.4
5        S1005                  7.2       100.0
6        S1006                  5.6        89.8
7        S1007                  4.3        72.6
..         ...                  ...         ...
993      S1993                  3.8        70.9
995      S1995                  2.6        76.1
996      S1996                  2.9        65.9
998      S1998                  5.4        69.7
999      S1999                  4.3        74.9

[701 rows x 3 columns]

Type-6: Percentage of students who passed among those who studied > 2 hours

In [54]:
hard_working_students_no = len(hard_working_students)
hard_working_passed_students_no = len(hard_working_passed_students)
hard_working_passed_student_frac = hard_working_passed_students_no / hard_working_students_no
hard_working_passed_student_per = hard_working_passed_student_frac * 100
print(f"The percentage of students who passed the exam and studied more than 2 hours daily is {round(hard_working_passed_student_per, 2)}")

The percentage of students who passed the exam and studied more than 2 hours daily is 82.86

Task-7: Probability that a student studied > 2h given they passed using Bayes theorem

In [57]:
prob_hard_working_student = hard_working_students_no / Total_students
passed_students_no = len(passed_students)
prob_passsed_students = passed_students_no / Total_students
prob_hard_working_passed_students_no = hard_working_passed_students_no / Total_students
prob_hard_working_passed_students = prob_hard_working_passed_students_no / prob_passsed_students
print(f"The number of hard working students who passed the examination {round(prob_hard_working_passed_students, 2)}")

The number of hard working students who passed the examination 0.85